@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* max-width: 100vw;
  max-height: 100vh; */

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
     width: 100%; 
    background-color: rgba(255, 144, 14, 0.1);
     
}
.header-container{
    width: 1100px;
    margin: 0 auto;
    padding: 20px; 
    
}
.display-flex{
    display: flex;
}
.dark-1{
    color: #131313;
}
dark-3{
    color: #727272;
}

    

.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    

    
}
.list-contant .display-flex .list-item{
    text-decoration: none;
    margin-right: 30px;
    color: ar(--Dark 02, rgba(66, 66, 66, 1));

}
.display-flex li {
    list-style: none;
}
.title{
    font-size: 2.50rem;
    font-weight: 700;
    color: #131313;
}
.brand-taxt{
    
    width: 600px;
    height: 250px;
    /* background-color: aqua; */
    margin: auto;
    text-align: center;
}
.dark-1{
    font-size: 4rem;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 0px;
}
.dark-3{
    font-size: 0.84rem;
    font-weight: 300;
}
.btn{
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 10px 20px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.benner{
    width: 100%;
    margin-top: 15px; 
}
@media screen and (max-width: 576px){

    header{
      width: 100%;
    background-color: rgba(255, 144, 14, 0.1);
     
}
    .header-container{
    width: 100%;
    
}
.brand-taxt{
    
    width: 100%;
    height: 210px;
    /* background-color: aqua; */
    
    text-align: center;
}
.navber{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 20px;
    /* background-color: aqua; */
    

    
}
.dark-1{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0px;
}
.benner{
    width: 100%;
     
}

    
}